<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <a href="{{ .Permalink }}">
        <img class="img-fluid hero"
             src="{{ .Params.ImageLarge | absURL }}" 
             srcset="{{ .Params.ImageSmall | absURL }} 480w, {{.Params.ImageLarge | absURL }} 800w"
             sizes="(max-width: 480px) 480px, 800px"
             alt="image for {{ .Params.ImageDescription }}">
      </a>
    </div>

    <div class="content">
      <h3><a href="{{ .Permalink }}">{{ with .Params.name}}{{.}}{{else}}{{ .Title }}{{end}}</a></h3>
      <p>{{ .Summary }}</p>
      <a class="btn btn-transparent" href="{{ .Permalink }}">Read more</a>
    </div>
  </div>
</article>