{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section section-bg" id="simple">
	<div class="container">
		<div class="row">
			{{"<!-- section title -->" | safeHTML }}
			<div class="col-lg-12">
				<div class="title text-center">
					<h2>{{ index (split .Title " ") 0 }}
						<span class="color">
							{{ range after 1 (split .Title " ") }} {{ . }} {{ end }}
						</span>
					</h2>
					<div class="border-meghna"></div>
				</div>
<!--				<h2>{{ .Title }}</h2> -->
			</div>
			{{"<!-- /section title -->" | safeHTML }}
		</div>

		{{ if .Params.topSnippet }}
		<div class="row top-snippet">
			<div class="col-lg-12 pb-5">
				<h5>
					{{ .Params.topSnippet | safeHTML }}
				</h5>
			</div>
		</div>
		{{ end }}

		<div class="row content">
			{{ if .Params.ImageTop }}
			<img class="img-thumbnail" src="{{ .Params.ImageTop | relURL }}" alt="image">
			{{ end }}	
			{{ if .Params.ImageBottom }}
			<img class="img-thumbnail" src="{{ .Params.ImageBottom | relURL }}" alt="image">
			{{ end }}
			<div class="main">
				{{ .Content }}
				{{ if .Params.ctaText }}
				<div class="text-center pt-4">
					<a class="btn btn-main" href="{{ .Params.ctaHref }}">{{ .Params.ctaText }}</a>
				</div>
				{{ end }}
			</div>
			{{ if .Params.videoID }}
			<div class="embed-responsive embed-responsive-16by9 mx-auto">	
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wICs1vMqNUk" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
			{{ end }}
		</div>

	</div>
	
</section>

{{ end }}