{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section" id="blogpost">
  <div class="text-center col-lg-12 more-posts">
    <a href="{{ `rock-theory` | absLangURL }}">See all posts</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <h1>{{ .Title }}</h1>
        <ul class="list-inline mb-50">
          <li class="list-inline-item">{{ .Params.Author }}</li>
          <li class="list-inline-item">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</li>
        </ul>
        <img class="img-fluid hero"
             src="{{ .Params.ImageLarge | absURL }}" 
             srcset="{{ .Params.ImageSmall | absURL }} 480w, {{.Params.ImageLarge | absURL }} 800w"
             sizes="(max-width: 480px) 480px, 800px"
             alt="image for {{ .Params.ImageDescription }}">
      </div>
      <div class="col-lg-10 offset-lg-1">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if .Site.Params.postShare }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <form name="Subscribomnia" class="form-meghna" method="post" role="form" data-netlify="true">
          <label for="email">Enter your email to subscribe:</label>
          <input type="email" placeholder="email@address.net" class="form-control" name="email" id="email">
          <button type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">Submit</button>
        </form>
        <div class="all-post text-center col-lg-12">
          <a class="btn btn-main"
            href="{{ `rock-theory` | absLangURL }}">Seymour posts</a>
        </div>
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}