{{ if gt .Site.RegularPages 0}}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2>{{ with .Site.Params.blogTitle }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with .Site.Params.blogTitle }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

      <div class="col-12 mb-5">
        <div class="embed-responsive embed-responsive-16by9 mx-auto">	
          <iframe src="https://www.youtube.com/embed/videoseries?list=PLmMqoH6QKiGQtnrjlcMiC1HCx68IPBwsj" title="Rock Theory videos" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>

			{{ range first 3 (where .Site.RegularPages "Section" "rock-theory") }}
			{{"<!-- single blog post -->" | safeHTML}}
			<article class="col-lg-4 col-md-6 col-12 mt-5 clearfix wow fadeInUp" data-wow-duration="500ms">
				<div class="post-block">
					<div class="media-wrapper">
						<a href="{{ .Permalink }}">
							<img src="{{ .Params.ImageSmall | absURL }}" loading="lazy" alt="blog post image" class="img-fluid">
						</a>
					</div>

					<div class="content">
						<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
						<p>{{ .Summary }}</p>
						<a class="btn btn-transparent" href="{{ .Permalink }}">Read more</a>
					</div>
				</div>
			</article>
			{{"<!-- /single blog post -->" | safeHTML}}
			{{ end }}

			<div class="all-post text-center col-lg-12">
				<a class="btn btn-main"
					href="{{ `rock-theory` | absLangURL }}">See All Posts!</a>
			</div>
		</div>
	</div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}