{{ define "main" }}

{{ partial "navigation.html" . }}

<section id="music-single" class="section section-bg">
	<div class="container">
		<div class="row">
			{{"<!-- section title -->" | safeHTML }}
			<div class="col-lg-12">
				<div class="title text-center">
					<h2>{{ index (split .Title " ") 0 }}
						<span class="color">
							{{ range after 1 (split .Title " ") }} {{ . }} {{ end }}
						</span>
					</h2>
					<div class="border-meghna"></div>
				</div>
<!--				<h2>{{ .Title }}</h2> -->
			</div>
			{{"<!-- /section title -->" | safeHTML }}
		</div>
		<div class="row">
			<div class="col-lg-6 text-center">
				{{ if .Params.Image }}
				<img class="img-fluid" src="/images/music{{ .Params.Image | relURL }}" alt="image">
				{{ end }}
				{{ if .Params.Bandcamp_album }}
				<iframe
						style="border: 0; width: 375px; height: {{ .Params.Bandcamp_height }}px;"
						src="https://bandcamp.com/EmbeddedPlayer/album={{ .Params.Bandcamp_album }}/size=large/bgcol=ffffff/linkcol=0687f5/{{ if eq .Params.Bandcamp_artwork false }}artwork=none/{{ end }}transparent=true/"
						seamless>
					<a href="{{ .Params.Bandcamp_href }}">
						{{ .Params.Bandcamp_title }}
					</a>
				</iframe>
				{{ end }}
				{{ if .Params.Bandcamp_album_2 }}
				<iframe
						style="border: 0; width: 375px; height: {{ .Params.Bandcamp_height_2 }}px;"
						src="https://bandcamp.com/EmbeddedPlayer/album={{ .Params.Bandcamp_album_2 }}/size=large/bgcol=ffffff/linkcol=0687f5/{{ if eq .Params.Bandcamp_artwork_2 false }}artwork=none/{{ end }}transparent=true/"
						seamless>
					<a href="{{ .Params.Bandcamp_href_2 }}">
						{{ .Params.Bandcamp_title_2 }}
					</a>
				</iframe>
				{{ end }}
			</div>
			<div class="col-lg-6">
				{{ .Content }}
			</div>
		</div>
	</div>
</section>

{{ end }}